# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
guide-venv-v2/

# C extensions
*.so

# Distribution / packaging
*.egg-info/
*.egg
.installed.cfg

# Python virtual environment files
.Python
bin/
include/
lib/
local/
share/

# Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temporary files
*.log
*.tmp
*.swp
*.bak

# Databases
*.sqlite3
*.db

# Environment variables
.env
.env.*

# FastAPI / Alembic specific
alembic/versions/

# Ignore data files
data/